<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/*fira-sub*/
@import url(/sofi/fonts/juliamono-regular.css);

body {
    margin: 0;
    background-color: rgb(31, 29, 29);
    font-family: JuliaMono, monospace;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}
</style>

{% for parent in parents -%}
<p>
    <a href="/{{parent.url}}">{{parent.title}}</a>
</p>
{%- endfor %}

<div class="title"><span>{{title}}</span></div>
<div class="items">

{% for item in items -%}
    <a href="/{{item.url}}">
        <div class="item {{item.tag}}">
            <div class="card-title">
                <span>{{item.title}}</span>
            </div>
        </div>
    </a>
{%- endfor %}
</div>