@import 'fonts.css';

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
    color: #555;
}

a {
    color: #e81c4f;
}

h1 {
    font-size: 3em;
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

h2 {
    font-size: 2em;
    margin-top: .8em;
    padding-top: .8em;
    color: #444;
}

h3 {
    font-size: 1.6em;
    margin-top: .6em;
    padding-top: .6em;
    color: #444;
}

img {
    max-width: 100%;
    display: block;
    margin: 3em auto;
}

resum {

}

code {
    display: block;
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;  
    border-left: 2px solid #69c;
    font-family: 'Ubuntu mono';
    white-space: pre;
    margin: 1em 0;
}

incode.hljs {
    display: inline;
    padding: .2em;
}

incode {
    background: #f5f7f9;
    color: #a7adba;  
    font-family: 'Ubuntu mono';
    white-space: pre;
    
}

terminal {
    font-family: 'Ubuntu mono';
    display: block;
}

host {
    background-color: #2c2c2c;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: .2em;
    border-radius: 4px 4px 0px 0px;
}

shell {
    background-color: #300a24;
    color: white;
    font-weight: bold;
    display: block;
    padding: .5em;
    border-radius: 0px 0px 4px 4px;
    font-family: 'Ubuntu mono';
    white-space: pre;
}

red {
    color: red;
}

fer {
    display: block;
    border: 1px solid #d8dee9;
    border-left: 2px solid orange;
    
    padding: 1em;
}

command {
    background-color: #d2d2d2;
    font-family: 'Ubuntu mono';
    padding: .1em;
    white-space: nowrap;
}

name {
    background-color: lightcyan;
    font-family: monospace;
    padding: .1em;
}

avis {
    display: block;
    border: 1px solid #d8dee9;
    border-left: 2px solid red;
    padding: 1em;
    margin: 1em 0;
}

info {
    display: block;
    border: 1px solid #d8dee9;
    border-left: 2px solid blue;
    padding: 1em;  
    margin: 1em 0;
}

url {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: .1em .3em;
}

file, directory {
    font-family: 'Ubuntu mono';
    background-color: lightgoldenrodyellow;
    padding: .1em;
    white-space: nowrap;
}

kbd {
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #b4b4b4;
    /*
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    */
    border-bottom: 3px solid #222;
    color: #333;
    display: inline-block;
    font-size: .9em;
    font-weight: 700;
    line-height: 1;
    padding: 3px 6px;
    white-space: nowrap;
}

string {
    color: green;
}

menu-item {
    background-color: #f2f2f2;
    padding: .1em 1.2em;
    border: 1px solid #bbb;
}