@import '../fonts/fonts.css';
@import '../prismjs/prism.css';

html {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8;
    color: #555;
    margin: 0;
    margin-bottom: 5em;
}

* {
    border-color: white;
    box-sizing: border-box;
}

section {
    margin: 2em auto;
    max-width: 50em;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3),0px 2px 6px 2px rgba(60,64,67,0.15);
    border-radius: 4px;
}

header {
    margin: 0 auto;
    max-width: 50em;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3),0px 2px 6px 2px rgba(60,64,67,0.15);
    border-radius: 4px;
    background-color: #fafafa;
}

a {
    color: #42b983; 
    /* color: #e81c4f; */
}

h1 {
    font-size: 3em;
    margin-top: 1rem;
    padding-top: 2rem;
    color: #333;
}

h2 {
    font-size: 2em;
    margin-top: .1rem;
    padding-top: .1rem;
    color: #444;
}

h3 {
    font-size: 1.6em;
    margin-top: .6rem;
    padding-top: 1.2rem;
    color: #444;
}

img {
    max-width: 100%;
    display: block;
    margin: 1.5em auto 3em auto;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    border: 1px solid;
    border-color: #f2f2f2;
}

img[noshadow] {
    box-shadow: none;
}

p img {
    display: inline;
    margin: 0 .2em;
    border: 1px solid #f2f2f2;
}

ul, ol {
    margin-bottom: 3em;
}

resum {
    color: inherit;
}

codefile {
    background: #eeeee1;
    display: block;
    border: 1px solid #d8dee9;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Consolas';
    font-size: .9em;
    padding: .2em 1em;
    color: #555;
}

codefile::before {
    content: '\f15c';
    font-family: 'FASolid';
    margin-right: .5em;
}

codefile a {
    text-decoration: none;
    color: inherit;
}

a[href*='github']::before {
    content: '\f09b';
    font-family: 'FABrands';
    margin-right: .5em;
    text-decoration: none;
}

a[href*='hackerrank']::before {
    content: '\f5f7';
    font-family: 'FABrands';
    margin-right: .5em;
    text-decoration: none;
}

a::before {
    text-decoration: none;
    display: inline-block;
}
a[noicon]::before {
    content: none;
}

a.token.url-link::before{
    content: none;
}

code {
    font-size: 14px;
}

pre {
    border-radius: 8px 8px 0px 0px;
}

terminal pre,  codefile + pre, codefile + div.code-toolbar pre{
    border-radius: 0;
}

/* codi {
    display: block;
    background: #f5f7f9;
    background: #282c34;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;  
    border-left: 2px solid #69c;
    font-family: 'Ubuntu mono';
    white-space: pre;
    margin: 0 0 1em 0;
} */

pre[class*="language-"] {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 14px;
}

pre.language-bash {
    padding: 0;
}



terminal {
    font-family: 'Ubuntu mono', Consolas, monospace;
    display: block;
}

host {
    /* background: #2c2c2c; */
    background: #46433f;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: .2em;
    border-radius: 8px 8px 0px 0px;
    font-size: 14px;
}

shell {
    /* background: #300a24; */
    background: #47213c;
    color: white;
    /* font-weight: bold; */
    display: block;
    padding: .5em;
    font-family: 'Ubuntu mono', Consolas, monospace;
    white-space: pre;
    font-size: 14px;
    overflow-x: auto;
}









incode {
    background: #f5f7f9;
    /* background: #2d2d2d;   */
    font-family: 'Consolas';
    white-space: pre;
    padding: .1em .5em;
    border-radius: 4px;
}


inshell {
    background-color: #dddddd;
    font-family: 'Consolas';
    padding: .1em .5em;
    white-space: pre;
    border-radius: 4px;
    font-size: 1rem;
}

w {
    background-color: #f9f9f9;
    color: #3f1888;
    font-family: 'Consolas';
    padding: .1em .3em;
    white-space: pre;
    border-radius: 4px;
    font-size: 1rem;
    border: 1px solid #efefef;
}

url {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: .3em .8em;
    white-space: nowrap;
}

file, directory {
    font-family: 'Consolas';
    font-size: .9em;
    background-color: #f5f7ab6a;
    color: #333;
    padding: .1em .5em;
    margin: .3em;
    white-space: nowrap;
    border-radius: 4px;
}

file {
    background: #a9d1f9;
}

directory {
    background: #fff59c;
}

file::before, directory::before {
    font-family: 'FASolid';
    margin-right: .5em;
}

file::before {
    color: white;
    content: '\f15c';
}

directory::before {
    color: #c5c5c1;
    content: '\f07c';
}

string {
    font-family: 'Consolas';
    font-size: 1rem;
    background: #dde5da;
    color: #2f9c0a;
    padding: .1em .3em;
    white-space: nowrap;
    border-radius: 4px;
    /* border: 1px dotted #3e4240; */
}

name {
    /* background-color: #7afbff;
    border: 1px dashed #353539; */
    /* background-color: #7afbff; */
    border: 1px solid #5cbbc1;
    padding: .1em .5em;
    border-radius: 4px;
}

tech {
    font-family: 'Consolas';
    background: #e8e9ea;
    color: #0645ad;
    padding: .1em .3em;
    border-radius: 4px;
    border: 1px solid #eaecf0;
}


replace {
    border: 1px dotted #3e4240;
    border-radius: 4px;
    color: #c7254e;;
    /* background: #f9f2f4; */
    padding: .1em .5em;
}

shell replace, url replace, code replace, inshell replace, incode replace {
    border: 0;
    padding: 0;
    background: none;
}

shell.language-bash .token {
    color: unset;
}

menuoption {
    background-color: #f2f2f2;
    padding: .1em .5em;
    border: 1px solid #bbb;
    white-space: nowrap;
}

red {
    color: red;
}

kbd {
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #b4b4b4;
    /*
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    */
    border-bottom: 2px solid #777;
    color: #333;
    display: inline-block;
    font-weight: 700;
    padding: 0 6px;
    white-space: nowrap;
    position: relative;
    top: -2px;
}








download a {
    background: #1E8E3E;
    border-radius: 4px;
    padding: 1em;
    color: white;
    text-decoration: none;
}

download {
    display: block;
    margin: 3em 0;
}


check {
    display: block;
}

check::before {
    font-family: 'FASolid';
    content: '\f058 ';
    color: #189E49;
    margin-right: 1em;
}






work, warn, info, optional, tldr, observe, question, quizz {
    display: block;
    position: relative;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #d8dee9;
    padding: 0 2em;
    margin: 2em 0;
}

work::before, warn::before, info::before, optional::before, tldr::before, observe::before, question::before, quizz::before {
    position: absolute;
    top: 1em;
    left: -.8em;
    color: #fff;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.6;
}


work {
    border-left: 2px solid #189E49;
}

work::before {
    font-family: 'FASolid';
    content: '\f304';
    background-color: #189E49;
}

warn {
    border-left: 2px solid #f66;
}

warn::before {
    font-family: 'FASolid';
    content: '\f12a';
    background: #f66;
    font-weight: bold;
}

info {
    border-left: 2px solid #77CAE0;
}

info::before {
    content: '\2139';
    background: #77CAE0;
}

optional {
    border-left: 2px solid #FFA700;
}

optional::before {
    content: '\2325';
    background-color: #FFA700;
}

observe {
    border-left: 2px solid #2BD7E3;
}

observe::before {
    font-family: 'FASolid';
    content: '\f06e';
    background-color: #2BD7E3;
}

tldr {
    background:  #d8dee9;
    border-left: 2px solid #a8aea9;
}

question {
    border-left: 2px solid #f9bc60;
}

question::before {
    font-family: 'FASolid';
    content: '\f128';
    background-color: #f9bc60;
}

quizz {
    border-left: 2px solid #f9bc60;
}

quizz::before {
    font-family: 'FASolid';
    content: '\f128';
    background-color: #f9bc60;
}

quizz question {
    border: none;
    margin: 0;
    padding: 0;
}

quizz question::before {
    content: none;
    background-color: none;
}

quizz question + question {
    border-top: 1px solid #d8dee9;
    /* padding-top: 1em; */
}

statement {
    margin: 1em 0;
}






/* question {
    display: block;
    border: 1px solid #efeece;
    padding: 1em;
    border-radius: 8px 8px 0 0;
    margin-bottom: 1em;
} */

question statement {
    display: block;
    margin-bottom: 1em;
}

question o {
    display: block;
    margin: .4em 0;
    padding: .2em;
}

question o:hover {
    background: #f9bc6084;
}

question label {
    padding: .5em 1em;
    margin: .5em 0;
}

question input + label::before {
    padding-right: 1em;
}

question input[type=radio] + label::before {
    font-family: 'FARegular';
    content: '\f111';
}

question input[type=radio]:checked + label::before {
    font-family: 'FASolid';
    content: '\f192';
}

question input[type=checkbox] + label::before {
    font-family: 'FARegular';
    content: '\f0c8';
}

question input[type=checkbox]:checked + label::before {
    font-family: 'FASolid';
    content: '\f14a';
}

question o.was-correct {
    /* border: 1px solid green; */
    border-radius: 8px; 
}

question o::before {
    display: inline-block;
    padding-left: 1em;
    width: 1em;
    content: ' ';
    font-family: 'FASolid';
}

question o.right::before {
    content: '\f00c';
    color: green;
}

question o.wrong::before {
    content: '\f00d';
    color: red;
}

question o.was-correct {
    background-color: #c6e7b1;
}

question input[type=radio],[type=checkbox] {
    display: none;
}

question button {
    display: block;
    background-color: #0e73ee;
    color: white;
    padding: .8em 2.4em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1em 0;
}

question button::before {
    font-family: 'FASolid';
    content: '\f00c';
}


question[match] div {
    display: inline-block;
    width: 50%;
}

question[match] o {
    border: 1px solid #e1e1e1;
    padding: 0 1em;
    margin: 0;
}

question[match] o::before {
    content: none;
    padding: 0;
    margin: 0;
}

question[match] div.left o {
    text-align: right;
}

question[match] .highlight {
    background: #e1e1e1;
}

question[match] div.right o {
    cursor: grab;
}

question[match] div.left o:hover {
    background: none;
}


question[match] o.right {
    background: #c6e7b1;
}

question[match] o.wrong {
    background: rgb(222, 151, 151);
}


sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.3s;
    padding-top: 60px;
    border-bottom: 1px solid gray;
    width: 0;
}

sidenav.open {
    width: auto;
}

hamb-close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
hamb-close::before {
    content: '\00d7';
}

sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 250px;
}

sidenav a:hover {
    color: #f1f1f1;
}

nav {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */    
}

nav.hide {
    top: -50px;
}

hamb-open {
    font-size: 30px;
    cursor: pointer;
    color: #f1f1f1;
    padding: 1rem;
}

hamb-open::before {
    content: '\2630';
}

.token > .token > .inline-color-wrapper {
    display: none;
}

.token > .token > .inline-color {
    display: none;
}

embed {
    margin: 2em 0;
    border-radius: 8px;
    border: 1px solid #d8dee9;
}


